{% extends "layout.njk" %}

{% block head %}
  <title>Desafio 3-1 | Courses</title>
{% endblock head %}

{% block content %}

  <header class="about">
    <div class="logo">
      <img src="https://bevouliin.com/wp-content/uploads/2014/02/rocket-booster-logo-template-bevouliin-preview.png" alt="logo">
    </div>

    <h1>Foguete TECH</h1>

    <p>
      As melhores tecnologias em programação, direto ao ponto e do jeito certo.
    </p>

    <ul>
      <li>HTML 5</li>
      <li>CSS 3</li>
      <li>JavaScript</li>
      <li>Node.js</li>
      <li>React.js</li>
    </ul>

    <div id="links-footer">
      <a href="/">Twitter</a>
      <a href="/">Instagram</a>
      <a href="/">Facebook</a>
    </div>

  </header>

{% endblock content %}