{% extends "layout.njk" %}

{% block head %}
  <title>Desafio 3-2 | Conteudo</title>
{% endblock head %}

{% block content %}

  <div class="cursos">
    {% for item in items %}
      <div class="card" id="{{item.id}}">
        <img src="{{item.image}}" alt="Imagem de {{item.title}}">
        <h4>{{item.title}}</h4>
        <div class="info">
          <p>{{item.modulos}}</p>
          <p>
            <span>{{item.price}}</span>
          </p>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- Modal -->

  <div class="modal-overlay">
    <div class="modal">
      <a class="close-modal">
        <i class="material-icons">close</i>
      </a>

      <div class="modal-content">
        <iframe src="" frameborder="0"></iframe>
      </div>

      <div class="expandir-modal">
        <span class="material-icons">
          aspect_ratio
        </span>
      </div>
    </div>
  </div>

  <script src="script.js"></script>
{% endblock content %}